<!DOCTYPE html>
<html>
<%- include ../public/header %>
<body>
<div class="wrapper">
    <%- include ../public/sidebar %>
    <%- include ./fileUpload %>
    <div class="main-panel">
        <%- include ../public/nav %>
        <div class="investment_f">
            <% include ./dataManageMenu %>
            <div style="padding: 20px;">
                <% include ./orderMenu %>
                <div style="padding: 20px">
                    <form action="/company/orderQuery" method="get">
                        <div class="form-group">
                            <label for="credit_code">统一社会信用代码</label>
                            <input type="text" class="form-control" name="credit_code">
                        </div>
                        <div class="form-group">
                            <label for="credit_code">企业名称</label>
                            <input type="text" class="form-control" name="cst_full_name">
                        </div>
                        <div class="form-group">
                            <label for="credit_code">订单号</label>
                            <input type="text" class="form-control" name="order_no">
                        </div>
                        <div class="form-group text-center">
                            <button type="submit" class="btn btn-success">
                            <span class="glyphicon glyphicon-search btn_icon"
                                  aria-hidden="true"></span>查询
                            </button>
                            <button id="reset" type="button" class="btn btn-success Reset-to-null">
                            <span class="glyphicon glyphicon-repeat btn_icon"
                                  aria-hidden="true"></span>重置
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include ../public/errorPagePop %>
</body>
</html>
